<html>
    <head>
        <title>About</title>
      <link rel="stylesheet" href="../css/style.css" ></rel>

    </head>
    <body>
 
         <div class="mncnt">
          {{>header}}
 </div>
           {{>footer}}
    </body>
</html>