<html>
    <head>
        <title>Weather</title>
      <link rel="stylesheet" href="../css/style.css" ></rel>

    </head>
    <body>
 <div class="mncnt">
          {{>header}}
 <form>
   <input placeholder="Enter city name">
   <button>Submit</button>
 </form>
 <p id='cmnt1'></p>
 <p id='cmnt2'></p>
 </div>

          {{>footer}}
          <script src="/javascript/app.js"></script>
    </body>
</html>